* {
  margin: 0;
  padding: 0;
  background-color: white;
}

.container {
  max-width: 80vw;
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  display: flex;
  height: 67px;
}
.navbar li {
  list-style: none;
  margin: 0 12px;
}

.topleft {
  width: 50%;
}

.topright {
  width: 50%;
}

.section1 {
  max-height: 100vh;
  color: #711e15;
}

.section1 h1 {
  color: #37110d;
  font-size: 2rem;
}

.logo {
  font-size: 1.3rem;
}

.study {
  width: 289px;
}

.topright .study1 {
  width: 466px;
}

.section2 {
  padding: 73px;
}

.section2 h1 {
  font-size: 2.3rem;
}

.section2 p {
  padding: 0 8vw;
  text-align: center;
}

.box {
  padding: 8px 0;
  margin: 12px 22px;
  min-width: 20vw;
  border: 2px solid rgb(120, 54, 16);
  border-radius: 8px;
  text-align: center;
}

.box h2 {
  font-size: 2rem;
  padding: 15px 0;
}

.highlighted {
  font-size: 1.2rem;
  font-weight: bolder;
}

.box ul {
  list-style-type: none;
}

.box ul li {
  margin: 12px 2px;
}

.plantable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 table {
  width: 100%;
  margin-bottom: 140px;
  margin-top: 20px;
  border-collapse: collapse;
}

.section3 table th {
  width: 23vw;
  border-bottom: 2px solid black;
  padding: 15px 0;
}

.section3 table td {
  border-bottom: 2px solid black;
}

.section3 h1 {
  font-size: 2.3rem;
}

.section3 {
  padding: 73px;
}

footer {
  padding: 23px;
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 2px;
}

.deal {
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 12px 0;
}
button {
  width: 50px;
  height: 50px;
  font-size: 16px;
}
.button1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}
.min-h-screen {
  min-height: 100vh;
}

.bg-red {
  background-color: red;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.font-bold {
  font-weight: bolder;
}

.my-1 {
  margin-top: 13px;
  margin-bottom: 13px;
}

.my-2 {
  margin-top: 26px;
  margin-bottom: 26px;
}

.px-2 {
  padding-left: 13px;
  padding-right: 13px;
}

.text-blue {
  color: rgb(227 74 56);
}

.btn {
  background-color: rgb(227 74 56);
  padding: 7px 12px;
  width: auto;
  color: #ffffff;
  border: 2px solid #cccccc;
  border-radius: 6px;
  cursor: pointer;
}
.btn:hover {
  background-color: green;
}
.overflow-x-hidden {
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}
.social-links {
  color: black;
}
